/HealthAppHibernate_1/GuessingGame_starter/GuessingGame_starter/GuessingGame_starter/build/
/HealthAppHibernate_1/GuessingGame_starter/GuessingGame_starter/GuessingGame_starter/dist/
/HealthAppHibernate_1/GuessingGame_starter/GuessingGame_starter/GuessingGame_starter/nbproject/private/