/HealthAppHibernate_1/GuessingGame_starter/GuessingGame_starter/GuessingGame_starter/build/
/HealthAppHibernate_1/GuessingGame_starter/GuessingGame_starter/GuessingGame_starter/dist/
/HealthAppHibernate_1/GuessingGame_starter/GuessingGame_starter/GuessingGame_starter/nbproject/private/
/SlotMachine/nbproject/private/
/SlotMachine/build/
/SlotMachine/dist/
/SlotMachine_1/nbproject/private/
/SlotMachine_1/build/
/SlotMachine1/nbproject/private/
/SlotMachine1/build/
/SlotMachine1/dist/
/slots/slots/nbproject/private/
/slots/slots/build/
/slots/slots1/nbproject/private/
/slots/slots2/nbproject/private/
/slots/slots2/build/
/SlotMachine1_1/nbproject/private/
/SlotMachine1_1/build/
/slots/nbproject/private/
/slots/build/
/slots/dist/
/HTML5Application/nbproject/private/
/HealthAppHibernate_1/dist/